<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="{% url 'aboutus' %} ">About</a></li>
            <li><a href="/dj">Django Course</a></li>
        </ul>
    </nav>
     {% block content %} {% endblock content %}
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}">
</body>
</html>