<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <!-- <h1>Hello {{name}}</h1>
    <h2>{% if nm and st %}</h2>
    {{st}} seats availble for {{nm}} course
    {% endif%} -->
   <ul> {% for name in names %}
       <li> {{name}}<br></li>
       {% empty %}
       <h1>yaha pe kuch nahi hai</h1>
    {% endfor %}
</ul>
</body>
</html>